<h1>UserMailer#account_activation</h1>

<p>
	Hi <%= @user.name %>, 
</p>
<p>
	Hey thank for deciding to hang here!	
</p>
<%= link_to 'Activate',edit_account_activation_url(@user.activation_token, email: @user.email) %>
