<h1>Password reset</h1>
<p>To reset your password please click the link below</p>
<%= link_to "Reset password", 
	edit_password_reset_url(@user.reset_token,
												 email: @user.email) %>


This link will expire in Two count em'(2) hours
if You did not request a reset please ignore this message
your password will remain as it is!
