<li>
	<span class="user-record">
		<strong>
			<%=link_to micropost.content.humanize, micropost_path(micropost.searchable_id)  %>
		</strong>
	</span>
			<span class="search-record-detail">
				micropost record: created <%=time_ago_in_words(micropost.created_at)%> ago.
			</span>
</li>
